<?xml version="1.0" encoding="utf-8"?>
<manifest package="videodownloader.eoinahern.ie.videodownloader"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:name=".MyApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_download_dark_launcher_round"
		android:label="Video Downloader"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<service android:name=".platform.download.service.DownloadServiceImp"
			android:exported="false"/>

		<activity android:name=".ui.download.DownloadActivity"
					 android:label=""
			android:windowSoftInputMode="stateVisible|adjustResize"/>


		<activity android:name=".ui.intro.IntroActivity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="4e43df0d73e30fd6ae7c6875f313c6195b26dc00" />
	</application>

</manifest>